.container {
    width: 1000px;
    margin: 0 auto;
}

body {
    font-family: Raleway, sans-serif;
    color: #414141;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bodyMarginTop {
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 700px;
    }
}

@media screen and (max-width: 425px) {
    .container {
        width: 300px;
    }
}
