.profileDetails {
  &__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  &__profile {
    margin-right: 40px;
  }
  &__title {
    font-size: 26px;
    font-family: Montserrat, sans-serif;
    margin: 0 0 20px;
  }
  &__btn {
    display: block;
    margin-bottom: 10px;
    border: none;
    padding: 10px 40px;
    width: 200px;
    text-align: left;
    &:hover {
      cursor: pointer;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.profile {
  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: scale-down;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
  }
  &__email {
    margin-bottom: 20px;
  }
}
